body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("/hambg2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list {
    width: 420px;
    margin: 100px auto auto;
}

.list ol {
    list-style-type: none;
    padding: 10px;
    font-size: larger;
}

.list li {
    background-color: #0f7786;
    border: solid black 1px;
    color: white;
}

.empty-slot {
    height: 4px;
}

.empty-slot.shown {
    height: 10px;
    border: dashed black 2px;
    margin-top: 3px;
    margin-bottom: 3px;
}